.header{
    display: flex;
    background-color: #adc178;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.links{
    display: flex;
    list-style: none;
}
.links a{
    padding: 10px 15px;
    text-decoration: none;
    color: #222;
}

.logoImg img{
    width: 10rem;
    height: auto;
}
