.aboutme {
    margin: auto;
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    );
    grid-auto-rows: 20rem;

    gap: 20px;
}
.textContainer{
    background-color: #F0EAD2;
    border-radius: 7px;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact {
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    max-width: 62rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
    );
    gap: 2rem;
}

.contactForm > div{
    display: flex;
    flex-direction: column;
}
