.aboutme {
    margin: auto;
    max-width: 100rem;
    display: grid;
    border: #000 solid 2px;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, 1fr)
    );
    grid-auto-rows: 15rem;
    gap: 20px;
}
.textContainer{
    border: 2px solid #fefae0;
    background-color: #d4a373;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
